<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{path_to_root}}css/version-select.css" />
  <script src="{{path_to_root}}js/version-select.js" defer></script>
  <script src="{{path_to_root}}../versions.js"></script>
  <div class="content-wrapper">
    <p><a href="{{path_to_root}}index.html">{{module_name}} Docs</a>{{#doc_coverage}} ({{doc_coverage}}% documented){{/doc_coverage}}</p>
    <div class="version-dropdown">
      <button onclick="toggleVersionSelect()" class="versionbtn">{{module_version}} <i class="fa fa-caret-down"></i></button>
      <div id="versions" class="version-dropdown-content"></div>
    </div> 
    {{#github_url}}
    <p class="header-right"><a href="{{github_url}}"><img src="{{path_to_root}}img/gh.png"/>View on GitHub</a></p>
    {{/github_url}}
    {{#dash_url}}
    <p class="header-right"><a href="{{dash_url}}"><img src="{{path_to_root}}img/dash.png"/>Install in Dash</a></p>
    {{/dash_url}}
    {{^disable_search}}
    <p class="header-right">
      <form role="search" action="{{path_to_root}}search.json">
        <input type="text" placeholder="Search documentation" data-typeahead>
      </form>
    </p>
    {{/disable_search}}
  </div>
</header>
