////////////////////////////////
// Constants
////////////////////////////////

$bg_color: #414141; /* From jazzy.css.scss */
$bg_color_hover: lighten($bg_color, 20%);
$content_bg_color: #fff;
$content_bg_color_hover: darken($content_bg_color, 20%);

////////////////////////////////
// Reset
////////////////////////////////

button {
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
}

////////////////////////////////
// Class
////////////////////////////////

.versionbtn {
  color: white;
  padding: 0px 4px;
  border: none;
  cursor: pointer;
  height: 32px;
}

.versionbtn:hover, .versionbtn:focus {
  background-color: $bg_color_hover;
}

.version-dropdown {
  position: relative;
  display: inline-block;
}

/* (Hidden by Default) */
.version-dropdown-content {
  display: none;
  position: absolute;
}

.version-dropdown-content a {
  color: black;
  padding: 4px 6px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  background-color: $content_bg_color;
  box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: -webkit-fill-available;
}

.version-dropdown-content a:hover {background-color: $content_bg_color_hover}

.show {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 350px;
}